body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 120px;
    padding-left: 120px;
}

.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
}

.column {
    border: 1px solid black;
    flex: 1;
    display: flex;
}

.row {
    border-right: 1px solid black;
    flex: 1;
    aspect-ratio: 1 / 1;
}