body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;;
}

.container {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.gridContainer {
    height: 90vh;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    flex-wrap: wrap;
}

.column {
    border: 1px solid black;
    flex: 1;
    display: flex;
}

.row {
    border-right: 1px solid black;
    flex: 1;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}